<!DOCTYPE html>

<html>

    <head>

        <title><%- title %></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style">

    </head>

    <body>

        <div class="w-100 p-3 mt-0 mx-0 bg-light shadow-sm">
                <div class="container-fluid row p-0 m-0">
                    <div class="col-3 p-0 m-0">
                        <a href="/list" class="btn btn-light border">Back</a>
                    </div>
                    <div class="col-6 text-center">
                        <h1 class="display-4 mb-1"><%- book %></h1>
                        <h3 class="display-5 font-weight-lighter">by <a href="<%- website %>" class="text-body"><%- author %></a></h3>
                    </div>
                    <div class="col-3"></div>
                </div>
        </div>

        <div class="container py-5">
            <p class="lead"><%- desc %></p>
            <ul>
                <%- pages %>
            </ul>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    </body>

</html>